<h1>About US</h1>

<head>
<style>
.well {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
</style>
</head>


		  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
			<div class="well">

        <%= image_tag("racebikes.jpg",class: "img-responsive my-image") %>

				<p class="">This is a project regarding stationery items that can be utilized for various
        purposes.</p>
			</div>
			<p>
        Stationary items include pens,pencils and other such equipment.
			</p>
		  </div>
	</div>
</div>
