<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
<p>Welcome! The date and time is <%= Time.now %></p>



<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>

<%= image_tag("racebike.jpg",class: "img-responsive my-image") %>

  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>





<footer class="site-footer">
  I'm the Sticky Footer.
</footer>
